/* CSS Document */
body {
    padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
#pie{
	font-size: 14px;	
}

#div_carga{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	background-color: rgba(0, 0, 0, 0.5);
    color:#000;
	display:none;
	z-index:1;
}

#cargador{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

#div_titulo {

	/*background:red;*/
	background:#3399CC;
	color:#FFFFFF;
	box-shadow: 5px 5px grey;
   -webkit-box-shadow: 5px 5px 5px grey;
   -moz-box-shadow: 5px 5px 5px grey;
	text-shadow: 2px 2px 4px #000000;
}

#div_caja1{

	background:#EAEAEA;
	box-shadow: 10px 10px grey;
}
#div_caja2{
	background:#FFFFFF;
	color:#FFFFFF;
	padding: 20px 180px;
	margin: 10px;
	background-image: url(../imagenes/png/saint_sigesp.png);
}

#div_caja3{
	
	background:#b1d8eb;
	padding: 20px 5px;
	margin: 5px;
	border-radius: 50px;	
}

input,textarea{
	padding:10px;
	width:100%;
	outline:none;
	transition: all 0.15s ease-in-out;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.2);

}

footer{
	margin: 0 auto;
	display:block;
	border-radius:0.5em;
	width:96%;
	vertical-align:middle;
	text-align:center;
}

footer a{
	color: #3399CC;
}

#div_junto{
	width:100%;
	margin-left: 105px;
}

#cajastext{
	/*height:100px;*/
    text-align:center;
}

#div_usuario{
	margin:0px auto;
	margin-bottom:10px;
}

#div_password{
	margin:0px auto;
	margin-bottom:10px;
}

#div_juntoR{
    text-align:center;
}

#div_col{
	margin-left:28px;
}

.divisor{
	 width:95%;
	 color:#333333;
	 padding:4px;
}

.divisor_vertical{
  border-left: 4px solid #3399CC;
  height: 95%;
  color:#333333;
  padding:4px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 5px;
  opacity: 0.2;
}


.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color:#409F17;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #409F17;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}


.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

